main{
    background-image: url(/images/design.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}

nav{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: grey;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li a{
    display: flex;
    padding: 16px;
}

ul li a:hover{
    color:black
}

img{
    width: 70px;
    height: 70px;
}

h1{
    font-size: 45px;
    color: white;
}

h2{
    color: white;
}